{% for comment in comments %}
    <div class=" comment {{ cycle(['odd', 'even'], loop.index0) }} comment" id="comment-{{ comment.id }}">
        <header class="commentHeader">
            <p>
                <span><span class="dateModif">{{ comment.author }}</span> a commenté le </span>
                <span><span class="dateModif">{{ comment.dateCreation | date('d-m-Y') }}</span> à </span>
                <span class="dateModif">{{ comment.dateCreation | date('H:i:s')}}</span>
            </p>
        </header>
        <p>{{ comment.content }}</p>
    </div>
{% else %}
    <p>No comment</p>
{% endfor %}