{% extends 'base.html.twig' %}


{% block pageContent %}
    <div class="container pageContent">
        {{ form_start(form) }}
        <div class="top_image">
            <img src="{{ figure.firstImage }}" alt="">
        </div>

        <div class="media">
            {% for videoLink in form.vars.data.videoLinks %}
                <div class="card border-dark mb-4">
                    <iframe class="card_image" src="{{ videoLink | replace({'watch?v=' : 'embed/'}) }}"></iframe>
                    <div class="card-footer">
                        <div class="push-right">
                            <a class="btn btn-primary" href=""><i class="far fa-edit"></i></a>
                            <a class="btn btn-danger" href=""><i class="far fa-trash-alt"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% for image in  form.vars.data.images %}
                <div class="card border-dark mb-4">
                    <img class="card_image" src="{{ image.getImagePath() }}"/>
                    <div class="card-footer">
                        <div class="push-right">
                            <a class="btn btn-primary" href="{{ path('edit_image' , {'id' : image.id}) }}"><i class="far fa-edit"></i></a>
                            <a class="btn btn-danger" href=""><i class="far fa-trash-alt"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.figuresGroup) }}
        {{ form_row(form.submit) }}

        <div class="inputs">
            {% for videoLink in form.vars.data.videoLinks %}
                
            {% endfor %}
            {% for image in  form.vars.data.images %}

            {% endfor %}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
