{% extends 'base.html.twig' %}


{% block pageContent %}
    <div class="container pageContent">
        {{ form_start(form) }}
        <div class="top_image">
            <img src="{{ figure.firstImage }}" alt="">
        </div>

        <div class="media">
            {% for videoLink in form.vars.data.videoLinks %}
                <iframe src="{{ videoLink | replace({'watch?v=' : 'embed/'}) }}" frameborder="0" height="200px"></iframe>
            {% endfor %}
            {% for image in  form.vars.data.images %}
                <img src="{{ image.getImagePath() }}"/>
            {% endfor %}
        </div>

        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.figuresGroup) }}

        <div class="inputs">
            {% for videoLink in form.vars.data.videoLinks %}
                
            {% endfor %}
            {% for image in  form.vars.data.images %}

            {% endfor %}
        </div>

    </div>
{% endblock %}
