<div class="card border-dark mb-4 figure_card">
    {% if figure.countImages != 0 %}
        <img class="card_image" src="{{ asset('uploads/images/'~figure.images.first.name) }}" alt="Card image cap">
    {% else %}
        <img class="card_image" src="{{ asset('build/images/empty.jpg') }}" alt="Card image cap">
    {% endif %}
    <div class="card-footer">
        <div>{{ figure.name }}</div>
        <div class="push-right">
            <a class="btn btn-primary" href="{{ path('figure', {'slug': figure.slug}) }}"><i class="far fa-eye"></i></a>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-primary" href="{{ path('edit_figure', {'slug' : figure.slug}) }}"><i class="far fa-edit"></i></a>
                {{ include('logged/deleteFigureModal.html.twig') }}
            {% endif %}
        </div>

    </div>
</div>