{% extends 'base.html.twig' %}

{% block pageContent %}
    <div class="container pageContent">
        <div class="top_image">
            <div id="card_top" class="card border-dark mb-4">
                {% if figure.countImages != 0 %}
                    <img class="card_image" src="{{ figure.firstImage }}" alt="image"/>
                {% else %}
                    <img class="card_image" src="{{ asset('build/images/empty.jpg') }}" alt="image">
                {% endif %}
                <div class="card-footer">
                    <h2>{{ figure.name }}</h2>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="push-right">
                            <a class="btn btn-primary" href="{{ path('edit_figure' , {'slug' : figure.slug}) }}">
                                <i class="far fa-edit"></i>
                            </a>
                            {{ include('logged/deleteFigureModal.html.twig') }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="media">
            {% for link in figure.links %}
                <div class="card border-dark mb-3">
                    <iframe class="card_image" src="{{ link.url | replace({'watch?v=' : 'embed/'}) }}"></iframe>
                </div>
            {% endfor %}
            {% for image in figure.images %}
                {% if not loop.first %}
                    <div class="card border-dark mb-3">
                        <img class="card_image" src="{{ image.getImagePath() }}" alt="image"/>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <hr/>
        <div id="description">
            <p>{{ figure.description | nl2br }}</p>
        </div>
        <hr/>
        <div class="details">
            <h6>Group : {{ figure.figuresGroup.name }}</h6>
            <h6>Creation date : {{ figure.createdAt | date('d-m-Y')}}</h6>
            <h6>Modification date : {{ figure.updatedAt | date('d-m-Y')}}</h6>
        </div>
        <hr/>
        {% if is_granted('ROLE_ADMIN') %}
            <h4><u>Leave a comment :</u></h4>
            {{ form(form) }}
            <hr/>
        {% endif %}
        <div id="comments">
            <h4 id="commentaires"><u>Comments :</u></h4>
            <div id="comment_list"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function renderComments(figureId, page) {
            fetch('/comments/' + figureId + '?page=' + page).
            then(response => {return response.text()}).
            then(content => {document.getElementById('comment_list').innerHTML = content})
        }
        $(document).on('click', '.pagination button', function(element)  {
            renderComments({{ figure.id }}, $(this).data('page'))
        })
        document.addEventListener('DOMContentLoaded', function () {
            renderComments({{ figure.id }}, 1)
        })
    </script>
{% endblock %}